[submodule "external/SonicOrca"]
	path = external/SonicOrca
	url = https://github.com/SonicOrcaModding/SonicOrca
[submodule "external/SonicOrca.Drawing"]
	path = external/SonicOrca.Drawing
	url = https://github.com/SonicOrcaModding/SonicOrca.Drawing
[submodule "external/SonicOrca.SDL2"]
	path = external/SonicOrca.SDL2
	url = https://github.com/SonicOrcaModding/SonicOrca.SDL2
[submodule "external/SonicOrca.Resources"]
	path = external/SonicOrca.Resources
	url = https://github.com/SonicOrcaModding/SonicOrca.Resources
[submodule "external/SonicOrca.Common"]
	path = external/SonicOrca.Common
	url = https://github.com/SonicOrcaModding/SonicOrca.Common
